.loginModal form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.loginModal input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}

.loginModal button {
    background-color: #fff;
    color: #000;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.switchAuth {
    color: #ccc;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
}

.message {
    color: #f99;
    font-size: 14px;
    margin-top: 5px;
}
